<div layout="row">
    <md-input-container flex="25" class="md-block">
        <label>minLat</label>
        <input type="number" ng-model="step.region.minLat">
    </md-input-container>
    <md-input-container flex="25" class="md-block">
        <label>maxLat</label>
        <input type="number" ng-model="step.region.maxLat">
    </md-input-container>
    <md-input-container flex="25" class="md-block">
        <label>minLng</label>
        <input type="number" ng-model="step.region.minLng">
    </md-input-container>
    <md-input-container flex="25" class="md-block">
        <label>maxLng</label>
        <input type="number" ng-model="step.region.maxLng">
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex class="md-block">
        <label>minDuration (s)</label>
        <input type="number" ng-model="step.minDuration">
    </md-input-container>
</div>